<mat-toolbar color="accent">
  <mat-toolbar-row>
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>João e Maria</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer opened="true" mode="side">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button><mat-icon>group</mat-icon>FUNCIONÁRIOS</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="espacamento">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
